body{
  font-family: 'Karma', serif;
  /* background-color:rgba(20, 3, 3, 0.733); */
  color: rgb(188, 184, 204);
  /* background-image: url("../images/background.jpg"); */
  
}

.navbar{
  background-color: rgba(15, 2, 2, 0.452);
  border: 0px;
  color: rgba(219, 219, 219, 0.944);
  text-align: center;
}

.fontclass{
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.images{
  width: 200px;
  height: 200px;
  margin: 5px;
}
.container-table {
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.panel {
  margin: 10px 80px 10px 80px; 
}